In [1]:
import pandas as pd

In [2]:
adult_census = pd.read_csv('data/adult-census-numeric.csv')

In [3]:
data = adult_census.drop(columns="class")
target = adult_census['class']

In [4]:
data

       age  capital-gain  capital-loss  hours-per-week
0       41             0             0              92
1       48             0             0              40
2       60             0             0              25
3       37             0             0              45
4       73          3273             0              40
...    ...           ...           ...             ...
39068   45             0             0              40
39069   47             0             0              60
39070   29             0          1485              60
39071   29             0             0              40
39072   46         15024             0              55

[39073 rows x 4 columns]

In [5]:
target

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
39068     <=50K
39069     <=50K
39070      >50K
39071     <=50K
39072      >50K
Name: class, Length: 39073, dtype: object

In [6]:
from sklearn.neighbors import KNeighborsClassifier

In [7]:
model = KNeighborsClassifier(n_neighbors=50)

In [8]:
model.fit(data, target)

KNeighborsClassifier(n_neighbors=50)

In [9]:
target_predicted = model.predict(data[:10])

In [10]:
target_predicted

array([' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K',
       ' <=50K', ' >50K', ' <=50K', ' <=50K'], dtype=object)

In [20]:
target[:10]

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
5     <=50K
6     <=50K
7      >50K
8     <=50K
9      >50K
Name: class, dtype: object

In [12]:
target_predicted == target[:10]

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: class, dtype: bool

In [14]:
print(f"Number of correct prediction: "
      f"{(target[:10] == target_predicted).sum()} / 10")

Number of correct prediction: 9 / 10

In [21]:
model.score(data, target)

0.8289867683566657

In [16]:
test_data = pd.read_csv('data/adult-census-numeric-test.csv')

In [17]:
target_test = test_data['class']
data_test = test_data.drop(columns='class')

In [18]:
print(f"The testing dataset contains {data_test.shape[0]} samples and "
      f"{data_test.shape[1]} features")

The testing dataset contains 9769 samples and 4 features

In [19]:
accuracy = model.score(data_test, target_test)
model_name = model.__class__.__name__
print(f"The test accuracy using a {model_name} is "
      f"{accuracy:.3f}")

The test accuracy using a KNeighborsClassifier is 0.818